<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper은 DAO가 호출  -->
<mapper namespace="com.iu.s2.pokemon.NoticeDAO">
 <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--> 
    <select id="getNoticeCount" parameterType="pager1" resultType="Long">
  	 SELECT COUNT(NOTICENUM) FROM NOTICE
	   	<if test="kind == 'contents'">
	   	 	 WHERE NOTICEDETAIL   LIKE  '%' || #{search} || '%'
	   	 </if>
	   	 
	   	 <if test="kind == 'title'">
	   	 	WHERE NOTICENAME  LIKE  '%' || #{search} || '%'
	   	 </if>
   </select>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <select id ="getNoticeList" parameterType="Pager1" resultType="NoticeDTO" statementType="PREPARED"> 
    SELECT * FROM 
		(
			SELECT ROWNUM R,N.* FROM 
				(
					SELECT * FROM  NOTICE
					 <if test="kind == 'contents'">
   	 				 	WHERE NOTICEDETAIL   LIKE  '%' || #{search} || '%'
				   	 </if>
				   	 
				   	 <if test="kind == 'title'">
				   	 	WHERE NOTICENAME  LIKE  '%' || #{search} || '%'
				   	 </if>
					ORDER BY NOTICENUM DESC
				) N
		)
	WHERE  R BETWEEN  #{startRow} AND #{lastRow}
    </select>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->  
    <select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
    SELECT *    
    FROM NOTICE
    WHERE NOTICENUM = #{noticeNum}
    </select>
    
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->       
     <delete id="setNoticeDelete" parameterType="Long">
     DELETE NOTICE WHERE NOTICENUM = #{noticeNum}
     </delete>
     
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->       
     
     <resultMap type="NoticeDTO" id="noticeDetailResult">
     	<id column="NOTICENUM" property="noticeNum"/>
     	<result column="NOTICENAME" property="noticeName"/>
     	<result column="NOTICEDETAIL" property="noticeDetail"/>
      	<result column="ID" property="id"/>
      	<result column="DAY" property="day"/>    	
      	<result column="VIEWTOTAL" property="viewTotal"/>
     	
     	
     </resultMap>
     
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->  
     <insert id="setNoticeAdd" parameterType="NoticeDTO" > 
       	<selectKey keyProperty="noticeNum" resultType="Long" order="BEFORE">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
      INSERT INTO NOTICE
      VALUES (#{noticeNum}, #{noticeName},#{noticeDetail},#{id},sysdate,#{viewTotal})
     </insert>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->     
     <update id="setNoticeUpdate" parameterType="NoticeDTO"> <!--Config 떄문에 BankBookDTO사용가능 -->
     	UPDATE NOTICE SET NOTICENAME=#{noticeName}, NOTICEDETAIL=#{noticeDetail}, ID=#{id}, DAY=#{day}, VIEWTOTAL=#{viewTotal}
		WHERE NOTICENUM=#{noticeNum}     
     </update>
     
     
     
     
       </mapper>