<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper은 DAO가 호출  -->
<mapper namespace="com.iu.s2.pokemon.NoticeDAO">
 <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--> 
    <select id="getNoticeCount" parameterType="pager1" resultType="Long">
  	 SELECT COUNT(NUM) FROM NOTICE
	   	<if test="kind == 'contents'">
	   	 	 WHERE contents   LIKE  '%' || #{search} || '%'
	   	 </if>
	   	 
	   	 <if test="kind == 'title'">
	   	 	WHERE title  LIKE  '%' || #{search} || '%'
	   	 </if>
   </select>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <select id ="getNoticeList" parameterType="Pager1" resultType="NoticeDTO" statementType="PREPARED"> 
    SELECT * FROM 
		(
			SELECT ROWNUM R,N.* FROM 
				(
					SELECT * FROM  NOTICE
					 <if test="kind == 'contents'">
   	 				 	WHERE contents   LIKE  '%' || #{search} || '%'
				   	 </if>
				   	 
				   	 <if test="kind == 'title'">
				   	 	WHERE title  LIKE  '%' || #{search} || '%'
				   	 </if>
					ORDER BY NUM DESC
				) N
		)
	WHERE  R BETWEEN  #{startRow} AND #{lastRow}
    </select>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->  
    <select id="getcontents" parameterType="NoticeDTO" resultType="NoticeDTO">
    SELECT *    
    FROM NOTICE
    WHERE NUM = #{NUM}
    </select>
    
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->       
     <delete id="setNoticeDelete" parameterType="Long">
     DELETE NOTICE WHERE NUM = #{NUM}
     </delete>
     
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->       
     
     <resultMap type="NoticeDTO" id="contentsResult">
     	<id column="num" property="num"/>
     	
     	<result column="title" property="title"/>
     	<result column="contents" property="contents"/>
      	<result column="id" property="id"/>
      	<result column="regdate" property="regdate"/>    	
      	<result column="hit" property="hit"/>
     	
     </resultMap>
     
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->  
     <insert id="setNoticeAdd" parameterType="NoticeDTO" > 
       	<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
      INSERT INTO NOTICE
      VALUES (#{NUM}, #{title},#{contents},#{id},sysdate,#{hit})
     </insert>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->     
     <update id="setNoticeUpdate" parameterType="NoticeDTO"> <!--Config 떄문에 BankBookDTO사용가능 -->
     	UPDATE NOTICE SET title=#{title}, contents=#{contents}, id=#{id}, regdate=#{regdate}, hit=#{hit}
		WHERE NUM=#{NUM}     
     </update>
     
     
     
     
       </mapper>