<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s2.trainer.trainerDAO">
  
  <insert id="trainerJoin" parameterType="TrainerDTO">
  	INSERT INTO TRAINER 
  	VALUES (#{ID}, #{PW})
  </insert>
  
  
  <select id="getTrainerLogin" parameterType="TrainerDTO" resultType="TrainerDTO">
  	SELECT *
  	FROM TRAINER 
  	WHERE ID = #{ID} 
  </select>
  
  <update id="setTrainerUpdate" parameterType="TrainerDTO">
  	UPDATE TRAINER
  	SET ID = #{ID}, PW = #{PW}
	WHERE ID = #{ID} 
  </update>  
  
  
  </mapper>